<?xml version='1.0' encoding='utf-8'?>
<widget id="com.outsystems.android" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Outsystems</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />

	<access origin="tel:*" launch-external="yes"/>
	<access origin="geo:*" launch-external="yes"/>
	<access origin="mailto:*" launch-external="yes"/>
	<access origin="sms:*" launch-external="yes"/>
	<access origin="market:*" launch-external="yes"/>
	
    <access origin="*" />

    <!-- Navigation -->
    <allow-navigation href="*" />

    <!-- The above is equivalent to these three declarations -->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />

    <!-- Intent -->

    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Allow SMS links to open messaging app -->
    <allow-intent href="sms:*" />

    <!-- Allow tel: links to open the dialer -->
    <allow-intent href="tel:*" />

    <!-- Allow geo: links to open maps -->
    <allow-intent href="geo:*" />

    <!-- Allow all unrecognized URLs to open installed apps
         *NOT RECOMMENDED* -->
    <allow-intent href="*" />

    <allow-intent href="mailto:*" />
    <allow-intent href="market:*" />

</widget>
