<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="com.outsystems.plugins.FileChooser" 
    version="0.0.1">
    
    <name>KitKat FileChooser</name>
    <description>FileChooser for Cordova applications running on Android 4.4 (KitKat)</description>
    <license>MIT</license>
    <keywords>cordova,outsystems,filechooser,android</keywords>

    <js-module src="www/FileChooser.js" name="FileChooser">
        <clobbers target="FileChooser" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">        
            <feature name="FileChooser">
                <param name="android-package" value="com.outsystems.plugins.filechooser.FileChooser"/>
            </feature> 
        </config-file> 
                
        <source-file src="src/android/FileChooser.java" target-dir="src/com/outsystems/plugins/filechooser"/>
                        
    </platform>
    
</plugin>
